//listing urls
<ul *ngFor="let url of urls">
  {{
    url
  }}
  <div class="btns">
    <button class="btn" (click)="deleteUrl(url)">Delete</button>
    <!-- Toggle show/hide edit form -->
    <button class="btn" (click)="toggleEditForm()">Edit</button>
  </div>

  <!-- Only show form if showEditForm is true -->
  <section *ngIf="showEditForm" class="edit-form">
    <input class="edit-input" type="text" #newUrl />
    <!-- Submit old + new urls  -->
    <button class="save-btn" (click)="editUrl(url, newUrl.value)">Save</button>
  </section>
</ul>
