@import "containers";
@import "buttons";
@import "breakpoints";
@import "components";
@import "formComponent";
@import "listComponent";
@import "resultComponent";

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
